.btn-black-outline {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 78px;

  font-family: 'Roboto', serif;
  font-size: 18px;
  line-height: 21px;
  margin: 10px;
  text-align: center;
  color: #FFFFFF !important;
}
