.content {
  min-height: calc(100vh - 200px);
}

.footer {
  margin-top: 25px;

  background: #28292A;
  width: 100%;
  text-align: center;
  height: 200px;

  .footer-contents {
    width: 100%;
    display: inline-flex;
    padding: 15px;

    flex: 0 1 auto;
    flex-wrap: wrap;

    flex-basis: 100%;
    max-width: 1200px;

    .left-column {
      width: 30%;
      display: flex;

      .footer-logo {
        width: 75px;
        height: 75px;
        margin-right: 15px;
      }

      .footer-text {
        display: flex;
        flex-direction: column;
        text-align: left;

        .big-name {
          font-family: 'Roboto', serif;
          font-size: 36px;
          line-height: 42px;
          white-space: nowrap;
        }

        .copyright {
          font-size: 18px;
          line-height: 32px;
        }

        .social-links {
          padding: 0;

          li {
            display: inline;
            margin: 0 10px;

            a {
              font-family: 'Font Awesome 5 Brands', serif;
              font-size: 24px;
              line-height: 28px;
            }
          }
        }
      }
    }

    .link-group {
      display: flex;
      align-items: start;
      flex-direction: column;
      margin: 0 20px;
      white-space: nowrap;

      .link-header {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 1201px) {
  .footer {
    width: 100%;
    height: 424px;

    .footer-contents {
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;

      .link-group {
        margin: 0;

        width: 50%;
        flex-basis: 50%;
        max-width: 50%;

        &:last-of-type {
          margin: 15px 0;
        }
      }

      .left-column {
        width: 100%;
        padding-bottom: 20px;
      }

      .left-column, .links {
        margin: 0 auto;
      }
    }
  }

  .content {
    min-height: calc(100vh - 424px);
  }
}
