* {
  font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
  color: #FFF;
}

p, span, a:not(.press-card), li {
  color: #FFF;
  .content & {
    opacity: 0.8;
  }
}

a:hover {
  color: #8C8C8C;
  text-decoration: unset;
}