@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
    width: 100%;
    height: 100%;
    margin: 0 auto 25vw;
}

h1, h2, h3, h4, h5, h6, material-button .content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

* {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

#preloader-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    transition: opacity 1s;
}

#preloader-image {
    position: fixed;
    left: calc(50vw);
    top: calc(50vh);
    transform: translate(-50%, -50%);
}

.disappear-preloader {
    opacity: 0;
}

/*    There's probably a way to optimise this, but don't give me crap, this is like 5000% better than the last website    */

@media (min-width: 1001px) and (orientation: landscape) {
    #preloader-image {
        width: 25%;
        height: auto;
    }
}

@media (min-width: 1001px) and (orientation: portrait) {
    #preloader-image {
        width: auto;
        height: 25%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    #preloader-image {
        width: 25%;
        height: auto;
    }
}

@media (max-width: 1000px) and (orientation: portrait) {
    #preloader-image {
        width: auto;
        height: 25%;
    }
}

material-expansionpanel > div {
    border: none !important;
}

material-expansionpanel header {
    min-height: 57px !important;
}

.info-card, .info-card > .panel {
    width: 250px !important;
    height: 250px;
}

.info-card:hover .panel {
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.14),
                2px 5px 3px -1px rgba(0, 0, 0, 0.12),
                2px 3px 7px 1px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 250ms;
}

.review-card:hover .panel {
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.14),
                1px 4px 2px -2px rgba(0, 0, 0, 0.12),
                1px 2px 6px 0px rgba(0, 0, 0, 0.2) !important;
}

.review-disappearing {
    opacity: 0;
}

.review-card > .panel {
    margin: 8px 0 !important;
}

.review-card > .panel > main {
    transition: max-height 500ms;
}

.review-card:nth-of-type(2) {
    width: 50vw !important;
    margin: 0 0 15px 5vw !important;
}

.review-card:not(:nth-of-type(2)) {
    margin: 0 0 15px 7.5vw !important
}

.review-card .review-message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.more-reviews-container .panel.open .primary-text {
    margin-top: 19px !important;
    margin-bottom: 19px !important;
}

.more-reviews-container .panel:not(.open) .primary-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.more-reviews-container .primary-text, .more-reviews-container .content {
    width: 45vw;
    font-size: 19px !important;
}

.more-reviews-container .content a {
    color: #000;
    text-decoration: none;
}

material-expansionpanel .background {
    background-color: #fff !important;
}

.review-container, .more-reviews-container {
    transition: opacity 1s ease, max-height 1s ease;
}